*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
background: url(./fondo.jpg);


}

.contenedor_preguntas
{
  
    
    background: rgba(0,0,0,.7);
    /*width: 100%;*/
    /*max-width: 500px;*/
    color: #fff;
    border-radius: 5px;
    /*padding: 48px;*/
    margin: auto;
    width:700px ;
    height:auto;
    border-radius: 5px;
    margin-bottom: 10px ;
    padding-bottom: 25px;
    
}
/*#areaResultado
{
outline: 1px solid #270a0a;
    background: #fff;
    box-sizing: 35px;
    border: rgb(31, 4, 148);
    color: black;
    width: 100%;
    height:150px;
}*/
input
{
    background: rgba(0,0,0,.5);
    width: 25%;
    padding: 10px;
    border-radius: 4px;
    margin: 0 0 20px 0;
    border-bottom: 4px solid #28b6af;
    outline: none;
    font-size: 14px;
    font-weight: normal;
    color: aliceblue;
    margin-top: 20px;
    transition: all .5s ease;




}
input:focus
{
    border-bottom: 4px solid #104386; 
}
.menu
{
    margin: 20px;
    height: 100%;
    
    
}
.menu span{
    float: left;
    /*height: 100%;*/
    /*padding-bottom: 56px;*/
    /*font-weight: normal;*/
    font-family:  'Roboto', sans-serif;
    /*letter-spacing: 1px;*/
    font-size: 16px;
    width: 100%;
    padding-top: 35px;
    padding-left: 10px;
    /*margin-left: 10px;*/
   /*margin-top: 50px;
   padding-top: 25px;*/
   margin-bottom: 15px;
    
}
.menu_principal .contenedor_preguntas h1
{
    float: left;
   font-size: 28px;   
   margin-left: 250px;
   margin-top: 25px;
   width: 100%;
   height: 50px;
   
   
}
#areaResultado
{
    /*display: flex;
    flex-wrap: wrap;
align-items: center;
    float: left;*/
    
    background: #fff;
    font-family:  'Roboto', sans-serif;    
    font-size: 16px;
    height: 50px;
    
    width: 50%;
    
    border-radius: 5px;
       
    color: #0178ff;
    /*overflow:initial;*/
    
    
}
#resultado4
{
    background: #fff;
    /*padding-right: 200px;*/
    width: 150%;
    overflow: hidden;
    height: 50px;
    border-radius: 5px;
}

button
{
width: 150px;
margin-bottom: 10px;
background: #0cd2ec;
    color:#fff ;
    border:none ;
    border-radius: 6px;

    padding: 10px 0;
    font-weight: normal;
    font-family:  'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;

}
 button :hover
{
    background: rgba(18, 189, 89, 0.6);
}
/*
margin-bottom: 20px;
font-size: 19px;
    letter-spacing: 1px;
    padding: 20px;
    height: 50%;
    border-spacing: 10px 5px;
    padding-bottom: 56px;
*/
.marca{
    color: antiquewhite;
    font-size: 20px;
    
}
.link
{
    text-decoration: none;
    color: #fff;
    background: #0cd2ec;
    width: 150px;   
    padding: 10px 10px 10px 10px;
    border-radius: 6px; 
    font-family:  'Roboto', sans-serif;  
    font-size: 16px;    
}